In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/sabih/.local/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: numpy>=1.21.0 in /home/sabih/.local/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sabih/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/sabih/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
series = pd.Series(data=["a", "b", "c", "d"], index=[a for a in "1234"])

In [4]:
series

1    a
2    b
3    c
4    d
dtype: object

In [5]:
series.iloc[2]

'c'

In [9]:
series.loc["2"]

'b'

In [10]:
series.loc["2":]

2    b
3    c
4    d
dtype: object

In [11]:
head(2)

NameError: name 'head' is not defined

In [12]:
series.head(2)

1    a
2    b
dtype: object

In [13]:
series.tail(1)

4    d
dtype: object

In [14]:
series.count()

4

In [15]:
type(series)

pandas.core.series.Series

In [16]:
series.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [18]:
series.values[2]

'c'

In [19]:
type(series.values)

numpy.ndarray

In [20]:
ser_a = pd.Series(data=[56, 72, 58, 22])

In [21]:
ser_b = pd.Series(data=[42, 6, 2])

In [22]:
ser_c = ser_a + ser_b

In [23]:
ser_c

0    98.0
1    78.0
2    60.0
3     NaN
dtype: float64

In [24]:
ser_a

0    56
1    72
2    58
3    22
dtype: int64

In [25]:
pd.isna(ser_c)

0    False
1    False
2    False
3     True
dtype: bool

In [26]:
pd.isna(ser_c).sum()

1

In [30]:
df = pd.read_csv("./ires/archive/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [31]:
df = pd.DataFrame(
    data={"col_1": [1, 2, 3, 4], "col_2": ["blue", "red", "white", "yellow"]}
)
df_a = df.drop(columns=["col_1"])
df_b = df.drop(index=[0])

In [35]:
df

   col_1   col_2
0      1    blue
1      2     red
2      3   white
3      4  yellow

In [36]:
df_a

    col_2
0    blue
1     red
2   white
3  yellow

In [37]:
df_b

   col_1   col_2
1      2     red
2      3   white
3      4  yellow

In [38]:
shapes = ["square", "triangle", "rectangle", "circle"]

In [39]:
shapes

['square', 'triangle', 'rectangle', 'circle']

In [40]:
df.loc[:, "shapes"] = shapes

In [43]:
df.iloc[len(df.index) + 1] = [5, "green"]

IndexError: iloc cannot enlarge its target object

In [44]:
>>> df = pd.DataFrame(data={'col_1': [5, 12, 11, 55, 4], \
'col_2': [1, 2, 4, 4, 4], 'col_3': [1, 1, 3, 1, 2]})
#calculates mean in the first column
>>> df.iloc[:, 0].mean()
#calculates standard deviation in the third column
>>> df.iloc[:, 2].std()
#calculates the maximum value in the fourth row
>>> df.iloc[3, :].max()

55

In [45]:
df.iloc[:, 0].mean()

17.4

In [46]:
df.iloc[:, 2].std()

0.8944271909999159

In [47]:
df.iloc[3, :].max()

55

In [48]:
>>> df_1 = pd.DataFrame({
"A": ["A0", "A1", "A2", "A3"],
"B": ["B0", "B1", "B2", "B3"],
}, index=[0, 1, 2, 3])
>>> df_2 = pd.DataFrame({
"A": ["A4", "A5", "A6", "A7"],
"B": ["B4", "B5", "B6", "B7"],
}, index=[4, 5, 6, 7])
>>> df_3 = pd.concat([df_1, df_2])

In [49]:
df_3

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5
6  A6  B6
7  A7  B7

In [50]:
df_1

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [51]:
>>> df_1 = pd.DataFrame({
"key": ["A", "A", "B", "D"],
"value": [11, 4, 4 ,3],
})
>>> df_2 = pd.DataFrame({
"key": ["A", "B", "E", "C"],
"value": [2, 4, 12, 9],
})
>>> df_3 = pd.merge(df_1, df_2, on="key", how="inner")

In [52]:
df_3

  key  value_x  value_y
0   A       11        2
1   A        4        2
2   B        4        4