### Name : Muhammad Safi (2303.khi.deg.023)
### Assignment Partners: Huzaifa Ali (2303.khi.deg.016)
### Shiekh Muhammad Sabih (2303.khi.deg.010)

In [1]:
from time import sleep

import pyspark
from IPython.display import clear_output, display
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, from_json,udf,when,split
from pyspark.sql.streaming import StreamingQuery
from pyspark.sql.types import DateType, IntegerType, StringType, StructType

ModuleNotFoundError: No module named 'pyspark'

## Importing the dataset and naming the columns according to the dataset

In [ ]:
spark = SparkSession.builder.appName("PySpark Assignment").getOrCreate()
titanic = spark.read.option("header", "true").option("inferSchema", "true").option("header", "false").csv("data/titanic.csv")
columns = ["PassengerId","Survived","Pclass","Name","Sex","Age","SibSp","Parch","Ticket","Fare","Cabin","Embarked","Timestamp"]

for i, col_name in enumerate(titanic.columns):
    titanic = titanic.withColumnRenamed(col_name, columns[i])
titanic.printSchema()

### Modifying the Schema
Changing the data type of survived to string and coverting the binary values into string so that we can categorize it.

In [ ]:
titanic = titanic.withColumn("Survived", when(col("Survived") == 0, "No").otherwise("Yes").cast("string"))
titanic.show()

### Updated Schema

In [ ]:
titanic.printSchema()

In [ ]:
titanic.show()

### Checking the minimum, maximum and mean values of the numerical data

In [ ]:
numerical_cols = [col_name for col_name, col_type in titanic.dtypes if col_type in ['int', 'bigint', 'float', 'double']]
numerical_df = titanic.select(*numerical_cols)


min_max_mean=numerical_df.describe()
min_max_mean.select(numerical_cols).summary('min','max','mean').show()

## Udf function to change the last letter of categorical data to 1

In [ ]:
cat_columns = ["Sex","Cabin","Embarked","Survived"]

def change_last_letter_after_space(word):
    if word is not None:
        words = word.split()
        for i in range(len(words)):
            words[i] = words[i][:-1] + "1"
        return " ".join(words)
    return word
change_last_letter_udf = udf(change_last_letter_after_space, StringType())
for column in cat_columns:
    titanic = titanic.withColumn(column, change_last_letter_udf(titanic[column]))
titanic.show()

## Sorting the DataFrame by its first column

In [ ]:
sorted_titanic = titanic.orderBy(titanic.columns[0])
sorted_titanic.show()

## Saving the Resultant Dataset in parquet
this code overwrites each time the changes are made and the file is saved.

In [ ]:
try:
    sorted_titanic.write.mode('overwrite').parquet("titanic_results.parquet")
except:
    print('Expection caught')